---
import Container from "../../shared/Container.astro";
import GradiantText from "../../shared/GradiantText.astro";
import SubTitle2 from "../../shared/SubTitle2.astro";
import Title2 from "../../shared/Title2.astro";
// import LogoPatrocinador from "./components/logoPatrocinador.astro";
import { testimonialsSection } from "./data";

export interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<section id="testimonials" class=`${className} `>
  <Container
    className="mx-auto flex flex-col items-center justify-center text-center"
  >
    <!-- <Title2>{testimonialsSection.title}</Title2> -->
    <SubTitle2 className="text-white">
      <GradiantText> {testimonialsSection.subheading1_1}</GradiantText><br />
      {testimonialsSection.subheading1_2}
    </SubTitle2>
  </Container>
    <!-- <Carrusel client:visible /> -->
    <section class="flex flex-row justify-center overflow-hidden">
      <div class="slider">
        <div class="slide-track flex flex-row gap-6 max-sm:h-full">
          { 
            testimonialsSection.testimonials.map((item)=>(
              
              <img src={item.logo.src} class="h-[120px] object-cover rounded-2xl" alt="">
              
            ))
          }
          { 
            testimonialsSection.testimonials.map((item)=>(
              
              <img src={item.logo.src} class="h-[120px] object-cover rounded-2xl" alt="">
              
            ))
          }
          { 
            testimonialsSection.testimonials.map((item)=>(
              
              <img src={item.logo.src} class="h-[120px] object-cover rounded-2xl" alt="">
              
            ))
          }
        </div>
      </div>
    </section>
</section>

<style>
.slider {
    width: 90vw;
    overflow: hidden;
}

.slider .slide-track {
    display: flex;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 40s linear infinite;
    width: calc(200px * 14);
}

.slider .slide {
    width: 200px;
}

.slider .slide img {
    width: 100%;
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-200px * 7));
        transform: translateX(calc(-200px * 7));
    }
}
</style>
