---
import Container from "../../shared/Container.astro";
import GradiantText from "../../shared/GradiantText.astro";
import SubTitle2 from "../../shared/SubTitle2.astro";
import Title2 from "../../shared/Title2.astro";
import { testimonialsSection } from "./data.ts";

export interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<section id="testimonials" class=`${className}`>
  <Container
    className="mx-auto flex flex-col items-center justify-center text-center"
  >
    <Title2>{testimonialsSection.title}</Title2>
    <SubTitle2>
      <GradiantText> {testimonialsSection.subheading1_1}</GradiantText><br />
      {testimonialsSection.subheading1_2}
    </SubTitle2>
  </Container>
  <Container className="flex flex-col items-center">
    <div class="flex flex-row flex-wrap justify-center gap-5">
      {
        testimonialsSection.testimonials.map((testimonial) => (
          <div
            class="w-32 h-32 shrink-0  rounded-full overflow-hidden"
            title={testimonial.name}
          >
            <img
              class="h-full object-cover"
              src={testimonial.visual.src}
              alt={testimonial.name}
            />
          </div>
        ))
      }
    </div>
  </Container>
</section>
