---
import Title3 from "../../../shared/Title3.astro";
import Button from "../../../shared/Button.astro";

export interface Props {
  title: string,
  fotos: string[],
  precios: string[],
  direccion: string,
  description: string,
  enlaceDireccion: string,
  enlacePaginaWeb: string
}

const { title, fotos, precios, direccion, description, enlaceDireccion, enlacePaginaWeb } = Astro.props;

const descargarPDF = () => {
    // const link = document.createElement('a');
    // link.href = '/ruta/del/archivo.pdf';  // Cambia esto por la ruta correcta de tu PDF
    // link.download = 'archivo.pdf';        // Cambia esto por el nombre que deseas para el archivo
    // link.click();
    console.log("descargando pdf");
};

---

<div
  class="bg-[#ffffffd9] group overflow-hidden rounded-lg h-full flex flex-col dark:bg-[#2e2e2ead] shadow-lg dark:shadow-dark ring-1 ring-black/5 pt-2"
>
  <div class="grid grid-cols-2 h-full mx-6 mb-6 max-sm:grid-cols-1 gap-4">
    <div class="overflow-hidden rounded-md">
      {
        fotos.map((foto) => (
          <img class=" rounded-md object-cover h-full" src={foto} alt=""/>
        ))
      }
    </div>
    <div>
      <Title3 className="dark:opacity-70 self-center">
        {title}
      </Title3>
      <p class=" mb-4">  
        {description}
      </p>
      <section
        class="bg-primary-950 dark:bg-[#24bd4f36] bg-opacity-5 dark:bg-opacity-65 p-2 border-s-4 border-primary-500"
      >
        {
          precios.map((valor) => (
            <div class="flex flex-row items-center gap-3">
              <div class="w-[10px] h-[10px]">
                <svg
                  class="text-primary-500 dark:text-primary-200"
                  height="10"
                  width="10"
                  viewBox="0 0 512 512"
                  fill="currentColor"
                >
                  <>
                    <g />
                    <g />
                    <g>
                      <g>
                        {" "}
                        <path d="M469.402,35.492C334.09,110.664,197.114,324.5,197.114,324.5L73.509,184.176L0,254.336l178.732,222.172 l65.15-2.504C327.414,223.414,512,55.539,512,55.539L469.402,35.492z" />{" "}
                      </g>{" "}
                    </g>
                  </>
                </svg>
              </div>
              <p class="text-lg">{valor}</p>
            </div>
          ))
        }
      </section>
      <a href={enlaceDireccion} target="__black" class="mt-4 flex flex-row gap-2 flex-nowrap items-center">
        <svg
          viewBox="0 0 1024 1024"
          width="15px"
          height="15px"
          class="text-primary-500 dark:text-primary-200"
          fill="currentColor"
          ><g></g><g
          ></g><g
            ><path
              d="M512 1012.8c-253.6 0-511.2-54.4-511.2-158.4 0-92.8 198.4-131.2 283.2-143.2h3.2c12 0 22.4 8.8 24 20.8 0.8 6.4-0.8 12.8-4.8 17.6-4 4.8-9.6 8.8-16 9.6-176.8 25.6-242.4 72-242.4 96 0 44.8 180.8 110.4 463.2 110.4s463.2-65.6 463.2-110.4c0-24-66.4-70.4-244.8-96-6.4-0.8-12-4-16-9.6-4-4.8-5.6-11.2-4.8-17.6 1.6-12 12-20.8 24-20.8h3.2c85.6 12 285.6 50.4 285.6 143.2 0.8 103.2-256 158.4-509.6 158.4z m-16.8-169.6c-12-11.2-288.8-272.8-288.8-529.6 0-168 136.8-304.8 304.8-304.8S816 145.6 816 313.6c0 249.6-276.8 517.6-288.8 528.8l-16 16-16-15.2zM512 56.8c-141.6 0-256.8 115.2-256.8 256.8 0 200.8 196 416 256.8 477.6 61.6-63.2 257.6-282.4 257.6-477.6C768.8 172.8 653.6 56.8 512 56.8z m0 392.8c-80 0-144.8-64.8-144.8-144.8S432 160 512 160c80 0 144.8 64.8 144.8 144.8 0 80-64.8 144.8-144.8 144.8zM512 208c-53.6 0-96.8 43.2-96.8 96.8S458.4 401.6 512 401.6c53.6 0 96.8-43.2 96.8-96.8S564.8 208 512 208z"
            ></path></g
          ></svg
        >
        <p>
          {direccion}
        </p>
      </a>
      <section class="flex flex-row justify-end">
        <a href={enlacePaginaWeb} target="__black" class="w-fit">
          <Button className="w-fit h-10 flex items-center mt-2" variant="outline" color="primary"> Mas información </Button>
        </a>
      </section>
    </div>
  </div>
</div>
