---
import Container from "../../shared/Container.astro";
import GradiantText from "../../shared/GradiantText.astro";
import SubTitle2 from "../../shared/SubTitle2.astro";
import Title2 from "../../shared/Title2.astro";
import { projectsSection } from "@img/ponentesData"; 
import FeaturedProject from "./components/FeaturedProject.astro";

export interface Props {
  className?: string;
}
const { className } = Astro.props;


---

<section id="projects" class=`${className}`>
  <Container
    className="mx-auto flex flex-col items-center justify-center text-center"
  >
    <Title2>Expositores</Title2>
    <SubTitle2>
      Expositores
      <GradiantText>  Nombrados </GradiantText>
    </SubTitle2>
  </Container>
  <Container client:idle >
    <div id="contenedorPonentes" class="mt-8 grid sm:grid-cols-2 lg:grid-cols-3 gap-6 lg:gap-8">
      {
        projectsSection.projects.map(ponente => ( 
          <FeaturedProject
            nombre={ponente.nombre}
            titlePonencia={ponente.titlePonencia}
            estudio={ponente.estudioAbreviado}
            foto={ponente.foto}
            biografia={ponente.biografia}
            dir_foto={ponente.dir_foto}
            id={`ponente_${ponente.id }`}
          />
        ))
      }
      <div id="overlay" class="hidden fixed inset-0 bg-gray-800 bg-opacity-75 z-50 h-[100vh] ">
        <div class="flex mt-14 justify-center max-h-[100vh]">
          <div class="flex relative flex-col bg-white rounded-lg max-w-[800px] max-h-[80vh] overflow-auto overscroll-contain">
            <!-- Botón X de cierre -->
              <header id="btnx_cerra_modal" class="absolute top-0 right-0 cursor-pointer text-xl text-white z-10">
                <div class=" flex justify-center items-center w-12 h-12 bg-primary-500 rounded-[0px_0px_0px_10px]"> 
                  <div>X</div>
                </div>
              </header>
  
              <section class="grid grid-cols-[1fr_auto] gap-3 p-4 max-lg:grid-cols-1 dark:bg-gray-100">
                  <div>
                    <div class="sticky top-0 max-lg:flex max-lg:flex-col max-lg:items-center">
                      <p id="gradoAcademico" class="text-center text-xl text-black font-bold">gradoAcademico</p>
                      <div id="imagen" class="w-60  h-60 overflow-hidden rounded-full shadow-[0_35px_60px_-15px_rgba(0,0,0,0.3)]">
                          <img id="imagen_centro" src="./assets/romario.jpg" alt="Imagen del expositor" class="w-full object-cover">
                          <img src="./assets/honorio.jpg" alt="Imagen del expositor" class="w-full object-cover">
                      </div>
                      <p id="estudio" class="text-center text-black font-semibold">universidad de estudios</p>
                    </div>
                  </div>
                  <div>
                      <h2 id="titulo" class="text-2xl font-bold text-black mb-4">Título del Expositor</h2>
                      <p id="biografia" class="text-gray-700 mb-2">Descripción del expositor, aquí puedes escribir una breve introducción o información relevante sobre la persona.</p>
                  </div>
                </section>
              <!-- Botón de cierre -->
              <footer class="flex justify-end p-4">
                  <button id="btn_cerrar_modal" class="bg-primary-500 text-white px-4 py-2 rounded" onclick="">Cerrar</button>
              </footer>
          </div>
        </div>
      </div>
    </div>
  </Container>
</section>

<script defer>
  let elementos_btn = document.getElementsByClassName("boton_z");
  let titulo = document.getElementById('titulo');
  let biografia = document.getElementById("biografia");
  let gradoAcademico = document.getElementById('gradoAcademico');
  let estudio = document.getElementById('estudio');
  let idCliqueado;
  for (let i = 0; i < elementos_btn.length; i++) {
        elementos_btn[i].addEventListener("click",(e)=>{
          idCliqueado = i ;
          idCliqueado -=1;
          
          console.log("datos : ");
          const parentDiv = e.target.closest('.self-end');
          const textos = parentDiv.querySelectorAll('p.reservado');
          console.log(e.target);
          let posicion_ponente = e.target.name;
          let valores = document.getElementsByClassName(posicion_ponente);
          // console.log(valores);
          // mostrarImg(idCliqueado);
          document.getElementById("imagen_centro").src = valores[0].innerHTML;
          titulo.innerText = valores[1].innerHTML ;
          estudio.innerText = valores[2].innerHTML ;
          gradoAcademico.innerText = valores[3].innerHTML;
          biografia.innerText = valores[4].innerHTML ;
          // console.log(idCliqueado);

          openModal();
        });
      }
  function openModal() {
    document.getElementById('overlay').classList.remove('hidden');
  }
  function closeModal() {
    document.getElementById('overlay').classList.add('hidden');
  }
  document.getElementById('btn_cerrar_modal').addEventListener('click', ()=>{closeModal()});
  document.getElementById('btnx_cerra_modal').addEventListener('click', ()=>{closeModal()});
  

</script>
