---
import Container from "../../shared/Container.astro";
import GradiantText from "../../shared/GradiantText.astro";
import SubTitle2 from "../../shared/SubTitle2.astro";
import Title2 from "../../shared/Title2.astro";
import FeaturedProject from "./components/FeaturedProject.astro";
import { projectsSection } from "./data.ts";

export interface Props {
  className?: string;
}
const { className } = Astro.props;


---

<section id="projects" class=`${className}`>
  <Container
    className="mx-auto flex flex-col items-center justify-center text-center"
  >
    <Title2>Expositores</Title2>
    <SubTitle2>
      Expositores
      <GradiantText>  Nombrados </GradiantText>
    </SubTitle2>
  </Container>
  <Container>
    <div id="contenedorPonentes" class="mt-8 grid sm:grid-cols-2 lg:grid-cols-3 gap-6 lg:gap-8">
      {
        projectsSection.projects.map(project => (
          
          <FeaturedProject
            title={project.title}
            description={project.description}
            location={project.location}
            visual={project.visual}
            biografia={project.biografia}
          />
        
        ))
      }
      <div id="overlay" class="fixed inset-0 hidden flex bg-gray-800 bg-opacity-75  items-center justify-center z-50">
        <div class="bg-white rounded-lg overflow-hidden w-11/12 md:w-2/3 lg:w-1/2">
            <div class="flex">
                <div class="w-1/3">
                    <img id="imagen" src="https://via.placeholder.com/150" alt="Imagen del expositor" class="w-full h-full object-cover">
                </div>
                <div class="w-2/3 p-6">
                    <h2 id="titulo" class="text-2xl font-bold mb-4">Título del Expositor</h2>
                    <p id="biografia" class="text-gray-700 mb-2">Descripción del expositor, aquí puedes escribir una breve introducción o información relevante sobre la persona.</p>
                    <p id="location" class="text-gray-500">Carrera: Informática</p>
                    <p id="description" class="text-gray-500">Carrera: Informática</p>
                </div>
            </div>
            <!-- Botón de cierre -->
            <div class="flex justify-end p-4">
                <button class="bg-red-500 text-white px-4 py-2 rounded" onclick="closeModal()">Cerrar</button>
            </div>
        </div>
    </div>
    </div>
  </Container>
</section>

<script defer>

  const contenedor = document.getElementById('contenedorPonentes');
  let elementos_btn = document.getElementsByClassName("boton_z");
  let titulo = document.getElementById('titulo');
  let description = document.getElementById('description');
  let direccion = document.getElementById('location');
  let biografia = document.getElementById("biografia");
  let idCliqueado;
  let ponentes = contenedor?.children;
  // console.log(elementos_btn);
  for (let i = 0; i < elementos_btn.length; i++) {
    elementos_btn[i].addEventListener("click",(e)=>{
      idCliqueado = i;
      const parentDiv = e.target.closest('.self-end');
      const textos = parentDiv.querySelectorAll('p.reservado');
      titulo = textos[0].innerText.trim();

      description = textos[2].innerText.trim();
      biografia = textos[3].innerText.trim();
      console.log(textos[0].innerText.trim());
      
      openModal();
    });
  }
  function openModal() {
    document.getElementById('overlay').classList.remove('hidden');
    // document.getElementById('overlat').classList.add('flex');
  }

  function closeModal() {
    // document.getElementById('overlay').classList.remove('flex');
    document.getElementById('overlay').classList.add('hidden');
  }
</script>
