---
import Container from "../../shared/Container.astro";
import GradiantText from "../../shared/GradiantText.astro";
import Paragraph from "../../shared/Paragraph.astro";
import SubTitle2 from "../../shared/SubTitle2.astro";
import Title2 from "../../shared/Title2.astro";
import { environmentalImpactSection } from "./data";

export interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<section id="environment" class=`${className} flex flex-row justify-center bg-white bg-white dark:bg-[#000000b0] pt-20`>

  <Container className="flex flex-col justify-center items-center midmd:flex-row midmd:gap-10 lg:gap-12 gap-4">
    <div
      class=" flex-1 flex flex-col justify-center items-center w-full text-center"
    >
      <SubTitle2 className="text-center w-full">
        {environmentalImpactSection.subheading1_1}
        <GradiantText>{environmentalImpactSection.subheading1_2}</GradiantText>
      </SubTitle2>
      <Paragraph>
        {environmentalImpactSection.description}
      </Paragraph>
    </div>
    <div
      class=" 
        midmd:max-w-none flex justify-center w-full items-center midmd:w-5/12 lg:w-1/2 midmd:h-auto
      "
    >
      <img 
        src={environmentalImpactSection.visual.src} 
        alt="img de los ingenieros"
        class="w-full object-cover rounded-2xl"
      >
    </div>
  </Container>
</section>
