---

export interface Props {
    nombreTaller: string,
    nombrePonente: string,
    fotoPonente: string,
    linkMasInformacion: string,
    fotoBaner: string,
    orden: boolean,
    className?: string,
    colorInicio: string,
    colorFin: string,
    colorBtn: string,
    colorPonente: string
}


const {nombreTaller, nombrePonente, fotoPonente, linkMasInformacion, fotoBaner, className, orden, colorInicio, colorFin, colorBtn, colorPonente} = Astro.props;
---

<section class={` items-center bg-gradient-to-r ${colorInicio} ${colorFin} grid 
        ${orden? "grid-cols-[auto_1fr]" : "grid-cols-[1fr_auto]"}
        text-white py-10`}>
    <div class={`h-[300px] ${orden? "order-1" : "order-2"} `}>
        <img src={fotoBaner} class="h-full object-cover" alt="foto del ponente a cardo del taller">
    </div>

    <section class={`flex flex-col ${orden? "order-2 items-start" : "order-1 items-end"} gap-4`}>
        <h1 class={` ${orden?"text-start":"text-end"} text-5xl font-bold`}>{ nombreTaller }</h1>
        <!-- seccion del ponente acargo -->
        <div class={`flex flex-row gap-4 ${colorPonente} p-3 rounded-md`}>
            <div class="h-[100px] overflow-hidden rounded-md">
                <img class="h-full object-cover" src={ fotoPonente} alt="">
            </div>
            <div class="flex flex-col justify-between">
                <h3 class="font-bold text-xl">{ nombrePonente }</h3>
                <p>Responsable del taller.</p>
            </div>
        </div>
        <!-- fin de la seccion del ponente acargo -->
        <a href={linkMasInformacion} class=` ${colorBtn} px-4 py-2 rounded-sm`>
            Mas información
        </a>
    </section>
</section>